body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"微软雅黑","Arial Narrow",HELVETICA;background:#f2f2f2;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
/* 清除默认样式 */
header{
    width: 100%;
    height: 90px;
    background: #000;
}
footer{
    width: 100%;
    height: 282px;
    position: relative;
    overflow: hidden;
    background: url("https://www.mdecomics.com.hk/templates/zh/default/images/top_bg.gif")  repeat center top #f7f7f7;
}
.wrapimg{
    width: 100%;
    height: 100%;
    background:url("https://www.mdecomics.com.cn/templates/zh/default/images/bottom_bg.png") no-repeat center top;
}
.top_nav{
    width: 1200px;
    height: 90px;
    position: relative;
    margin: 0 auto;
}
.login{
    position: absolute;
    top: 8px;
    right: 22px;
    color: #fff;
    font-size: 15px;
    
    
}
nav{
    position: absolute;
    right: 0;
    bottom: 10px;
    color: white;
}
.top_nav img{
    width: 166px;
    vertical-align:middle;
    margin-top: 20px;
}
.menu_top{
    font-size: 16px;
    padding: 0px 22px;
}
.menu_top > a{
    text-decoration: none;
    margin-left: 5px;
    position: relative;
    top: -3px;
}
.menu_top > a:link{
    color: white;
}
.menu_top > a:visited{
    color: white;
}
.menu_top > a:hover{
    color: #d91a24;
    text-decoration: none;
}
.menu_top > a:active{
    color: white;
}
.sm_asd{
    width: 73px;
    height: 35px;
    background: white;
    border: 1px solid gray;
    
}
.aside_right{
    position: fixed;
    top: 110px;
    right: 0px;
    z-index: 888;
}
.sm_asdd{
    width: 75px;
}
.warp_bottom{
    width: 1200px;
    height:100%;
    margin: 0px auto;
    color: white;
    position: relative;
}
.lian  a{
    color: gray;
}
.warp_bottom >img{
    margin-top: 30px;
    vertical-align: top;
}
.ds{
    display: inline-block;
}
.callus{
    display: inline-block;
}
.maa{
    display: inline-block;
    position: absolute;
    text-align: center;
    bottom: 30px;
    right: 100px;
}
.maa p{
    margin: 20px;
}
.shay{
    float: right;
}
.f22{
    font-size: 22px;
}
.f16{
    font-size: 16px;
}
.friendlin ,.callus{
    margin-top:30px;
    margin-left: 80px;
    text-align: center;
    vertical-align: top;
}
.friendlin p{
    margin: 10px 0px;
}
.friendlin a{
    text-decoration: none;
}
.callus a{
    color: gray;
    text-decoration: none;
    
}
.callus p{
    margin:10px 0px;
}

.shay_onc{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 15px;
    background: url("https://www.mdecomics.com.hk/templates/zh/default/images/bsico1.png") no-repeat;
    background-position:  center 6px;
    border-radius: 50%;
    background-color: #3aace7;
}
.shay_onc:hover{
    background-position:  center -18px;
    background-color: white;
}
.bac2{
    background: url("https://www.mdecomics.com.hk/templates/zh/default/images/bsico2.png") no-repeat;
    background-position:  center 6px;
    background-color: #1ee649;
}
.bac3{
    
    background: url("https://www.mdecomics.com.hk/templates/zh/default/images/bsico3.png") no-repeat;
    background-position:  center 6px;
    background-color: #e72323;
}
.bac4{
   
    background: url(" https://www.mdecomics.com.hk/templates/zh/default/images/bsico4.png") no-repeat;
    background-position:  center 6px;
    background-color: #3b5998;
}
.shay{
    margin-top: 10px
}
/*article{
    width: 100%;
    padding: 30px 0px;
    background:white;
}*/
.login_in{
    margin-left: 5px;
}
.vt{
    vertical-align: top;
}
.login_in > a{
    color: white;
    position: relative;
    top: -2px;
    margin-left: 5px;
    text-decoration: none;
}
.login_in > a:hover{
    color: ghostwhite;
    text-decoration: none;
}
.sm_asd{
    text-align: center;
    font-size: 1.2em;
    line-height: 35px;
    color: #ff0400;
    cursor: pointer;
}
.sm_asd:hover{
    background: #ff0400;
    color: white;
}
.bottmotext{
    text-align: center;
    margin-top: 10px;
}







/* wode */
.top{
    width: 100%;
    height: 50px;
    position:absolute;
    top: 90px;
    background-color: white;
}
.top>img:nth-child(1){
    position: absolute;
    left: 12%;
    top: 25%;
}
.top>img:nth-child(2){
    position: absolute;
    left: 20%;
    top: 25%;
}
.top>span{
    font-size: 18px;
    font-weight: bolder;
    color: red;
    top: 23%;
    position: absolute;
    left: 22%;
}
.top>input{
    height: 55%;
    width: 15%;
    position: absolute;
    left: 70%;
    top: 20%;
    font-size: 16px;
    outline: none;
    border: 1px solid lightgray;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search{
    height:59%;
    width: 3.5%;
    position:absolute;
    left: 85%;
    top: 20%;
    background-color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}
.search>img{
    position: absolute;
    top: 20%;
    left: 30%;
}
.sm_asd{
    width: 73px;
    height: 35px;
    background: white;
    border: 1px solid gray;
    text-align: center;
    line-height: 35px;  
    font-size: 16px;
    color: red; 
}
.aside_right{
    position: fixed;
    top: 30%;
    right: 0px;
    z-index: 888;
}
.sm_asdd{
    width: 75px;
}
.sm_asd:hover{
    background: #ff0400;
    color: white;
}
.content{
    background-color: rgb(239,239,239);
    width: 100%;
    /*position: absolute;
    top: 23%;*/
    /*height: 1000px;*/
    position: relative;
    margin-top: 4%;

}
.selection{
    width: 80%;
    position: absolute;
    left: 10%;
    top: 2%;
}
.selection_l>img{
    width: 100%;
}
.selection_l{
    width: 48%;
    position: relative;
    display: inline-block;
}
.selection_l>a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    text-indent: 2em;
    text-decoration: none;
}
.selection_r{
    width: 51%;
    display: inline-block;
    /*position: relative;*/
    vertical-align: top;
}
.top1{
    width: 100%;
    margin-top: 0;
    margin-left: 2%;
}
.top1>div{
    display: inline-block;
    width: 44.5%;
    margin-left:5%;
    position: relative;
}
.top1>div>img{
    width: 100%;
    height: auto;
}
.top1>div>a{
    display: block;
    text-decoration: none;
    width: 100%;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    text-indent: 1.5em;
}
.bottom{
    width: 100%;
    margin-top: 3%;
    margin-left: 2%;
}
.bottom>div{
    display: inline-block;
    width: 44.5%;
    margin-left: 5%;
    position: relative;
}
.bottom>div>img{
    width: 100%;
    height: auto;
}
.bottom>div>a{
    display: block;
    text-decoration: none;
    width: 100%;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    height: 30px;
    line-height: 30px;
    text-indent: 1.5em;
}
.all{
    width: 56%;
    margin-top: 28%;
    background-color: white;
    margin-left: 10%;
    position: relative;
    display: inline-block;
}
.all>p{
    font-size: 18px;
    border-left: 5px solid black;
    padding-left: 2%;
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block;
}
.write{
    position: absolute;
    left: 75%;
    top: 3%;
}
.wram{
    position: absolute;
    left: 88%;
    top: 3%;
}
.all>a{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.falls{
    width: 96%;
    margin-top: 1%;
    margin-left:  2%;
    margin-right: 2%;
}
.falls_item{
    width: 30%;
    display: inline-block;
    margin-top: 2%;
}
.all a:hover{
    color: red;
}
.falls_item>img{
    width: 100%;
    height: auto;
}
.falls_item>a{
    font-size: 15px;
    color: black;
    text-decoration: none;
    display: block;
}
.watch_img{
    width: 10%;
    height: auto;
}
.msg_img{
    width: 6.5%;
    height: auto;
    margin-left: 15%;
    margin-right: 1%;
}
.value>p{
    display: inline-block;
    font-size: 12px;
    color: gray;
    vertical-align: top;
    height: 20px;
    line-height: 20px;
}
.falls_item:nth-child(3n-1){
    margin:0 4%;
}
form{
    margin-top: 3%;
    margin-left: 13%;
    margin-bottom: 5%;
}
form>input{
    background-color: white;
    width: 9%;
    height: 30px;
    font-size: 15px;
    outline: none;
    margin-left: 1%;
}
form>input:hover{
    color: white;
    background-color: blue;
}
.hot{
    width:22.5%;
    margin-left: 1.5%;
    display: inline-block;
    margin-top: 28%;
    vertical-align: top;
}
.hot>a{
    display: block;
    width: 100%;
    color: white;
    font-size: 16px;
    background-color: red;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    text-decoration: none;
}
.hot>a:hover{
    background-color: rgb(40,40,40);
    color: white;
}
.hot_video{
    width: 100%;
    background-color: white;
    margin-top:4%;
    border: 1px solid transparent;
}
.hot_video>p{
    font-size: 18px;
    padding-left: 3%;
    border-left: 7px solid black;
    margin-top: 5%;
    margin-left: 5%;
}
.one{
    width: 100%;
    margin-left: 5%;
    margin-top: 4%;
}
.one>p{
    font-size: 10px;
    background-color:red;
    width: 20px;
    height: 20px;
    color: white; 
    display: inline-block;
    text-align: center;
    line-height: 20px;
    vertical-align: top;
    border-radius: 4px;
}
.one>a{
    width: 40%;
    display: inline-block;
    margin-left: 2%;
}
a>img{
    width: 100%;
    height: auto;
}
.describe{
    width: 44%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
}
.describe>p{
    font-size: 15px;
    margin-bottom: 3%;

}
.value_img{
    width: 15%;
    height: auto;
}
.msg{
    width: 10%;
    height:auto;
    margin-left: 15%;
    margin-bottom: 2%;
    margin-right: 2%;
}
.describe>span{
    font-size: 14px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
}
.two{
    width: 100%;
    margin-left: 5%;
}
.two>span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(152,152,152);
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    margin-top: 4%;
}
.two>a{
    display: inline-block;
    font-size: 13px;
    margin-left: 3%;
    text-decoration: none;
    color: black;
}
.value_img1{
    width: 6%;
    margin-left: 5%;
}
.msg1{
    width: 4%;
    height: auto;
    margin-left: 3%;
}
.two>p:nth-child(4){
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    margin-top: 5%;
}
.two>p:nth-child(6){
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    margin-top: 5%;
}
.last{
    margin-bottom: 13%;
}



